<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="color:yellow">NS Gevonden Voorwerpen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/message/forum">forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/message/addmessage">Add Message</a>
            </li>
        </ul>
        <span class="navbar-text">
      NS Happy travels
    </span>
    </div>
</nav>