<% include partials/head.ejs %>
<% include partials/nav.ejs %>
<div id="showcase">
    <div class="form">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1" style="color:white;">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" style="color:white;">Pincode</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Pincode">
            </div>
            <div class="form-check" style="margin:0 auto;">
                <a href="/register" style="color:white;margin-bottom:20px;">Registreer hier!</a>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:20px;">Submit</button>
        </form>
    </div>
</div>
<% include partials/footer.ejs %>