
#showcase {
    background-image: url('../image/home.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    background-color:#232b2b;
    border-color:yellow;
    border-radius:5px;
    border-style:solid;
    padding:50px;
}