<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>
<%= title %>
<%= description %>
<% messages.forEach(function(message){ %>
    <div id="wrapper" style="width:20em; float:right; border:2px solid yellow;">
        <div class="card-header">
            <h1><%= message.title %></h1>
        </div>
        <div class="card-bdoy" style="padding-bottom:30px;">
            <ul>
                <li>
                    <p>kenmerken: <%= message.kenmerken %></p>
                    <p>spoortraject: <%= message.spoortraject %></p>
                    <p>op te halen bij station: <%= message.station %></p>
                </li>
            </ul>
            <form action="../message/removeMessage/" method="post" style="text-align:center;">
                <input type="hidden" value="<%= message.id %>" name="id">
                <button class="btn btn-danger">Remove</button>
            </form>

            <form action="../message/editMessage/" method="post" style="text-align:center;">
                <input type="hidden" name="id" value="<%= message.id %>">
                <button class="btn btn-warning">Edit</button>
            </form>
        </div>
    </div>


<% }); %>