<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>
<div id="showcase">
    <div class="form"
         style="background-color:#232b2b;border-color:yellow;border-radius:5px;border-style:solid;padding:50px;width:400px;margin:50px auto;">
        <form action="../message/postmessage" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1" style="color:white;">Beschrijving van het voorwerp:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Beschrijving" name="title">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" style="color:white;">Kenmerken</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Kenmerken" name="kenmerken">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" style="color:white;">Op welk spoortraject is het gevonden?</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Spoortraject"
                       name="traject">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" style="color:white;">Op welk station kan het worden
                    opgehaald?</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Station:"
                       name="station">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:20px; ">Verzenden</button>
        </form>
    </div>
</div>
<% include ../partials/footer.ejs %>