<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>
<div id="showcase">
    <div class="form"
         style="background-color:#232b2b;border-color:yellow;border-radius:5px;border-style:solid;padding:50px;width:400px;margin:50px auto;">
        <form action="../worker/postuser" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1" style="color:white;">Naam</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="name" name="name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" style="color:white;">email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Email" name="email" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" style="color:white;">pincode</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="pincode"
                       name="pincode">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:20px; ">Verzenden</button>
        </form>
    </div>
</div>
<% include ../partials/footer.ejs %>